/* Google fonts imports */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&family=Tomorrow&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body { 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    /* the display set on flex make the checkbox show in a row with the h1 */
    display: flex;
    justify-content: space-between;
    /* This makes them align vertically */
    align-items: baseline;
}

/* Create a style for every <a> element that's descending of the <header> 
and we are setting this particular style in order to get rid of the classic
blue color and underline of the links */
header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle (interruttore); the position will be absolute
to take the element out of the normal flow of the page. The display property is set
to none so it won't be shown until the user click to open it, after adding some CSS below. */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    /* If we don't set the top property to 100%, because of the flex value we gave to the
    parent element (in this case the header), we would see the topdown menu covering the header.
    We can fix this by adding the top property, as we said, to 100%. This tells the <nav> that
    the top of the element should start AT THE BOTTOM OF ITS PARENT. 0% would make it start
    at the top of its parent, but we want it to happen at the bottom of it.*/
    top: 100%;
}

/* Nav toggle (We use here a PSEUDO-CLASS that operates when the <input> element with "nav-toggle" id
is checked; we use the tilde because the <nav> is the direct sibling of the <input> element. So: when 
this is CHECKED, we want our sibling element (nav) to display. We give this a display value of "block" */
#nav-toggle:checked~nav {
    display: block;
}

/* We use this to make the checkbox disappear, since we can just click on the label (not directly
on the checkbox) to make the dropdown menu work. We can also make the label larger so it's easier
to click. We'll do it using the label class below.*/
#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    background-color: lightblue;
    /* We're going to give a margin-top of 47px to this element in order to push down
    the content with respect to the header. Why? Because otherwise we wouldn't visualize
    it. And why? Because when we set the header position to fixed, the header HAS BEEN
    TAKEN OUT OF THE NORMAL FLOW OF THE ELEMENTS OF THE PAGE and covered the top of the
    main element.*/
    margin-top: 47px;
}

/*Footer*/
footer {
    background-color: orange;
}